<aside class="aside">

	<form class="search" role="search" method="get" id="searchform" action="{{site.url}}">
		<input class="search__input" type="text" value="" name="s" id="s" placeholder="{{ __('Search', 'rin')|e }}">
		<button class="search__button" type="submit" id="searchsubmit" value="{{ __('Search', 'rin')|e }}"></button>
	</form>

	
	<nav class="menu">
		<span class="menu__title" tabindex="0">Catégories</span>

		<ul class="menu__items">
			{% for category in categories %}
				<li class="menu__item"><a href="{{ category.link }}">{{ category.name }}</a></li>	
			{% endfor %}
		</ul>
	</nav>
</aside>